<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>top</title>
</head>
<body>
	<div class = "top-page">
		<h1 class ="welcome">ようこそ Bookers へ!</h1>
		<div class = "explain">
			<p class = "explain1">Bookersでは、様々な書籍に関するあなたの意見や</p>
			<p class = "explain2">印象を交換し交換することができます</p>
			<p class = "start"><%= link_to "start", posts_path %></p>
		</div>
	</div>
</body>
</html>
